/*{% load static %}*/

/*.order-text {*/
/*  font-size: 40px;*/
/*}*/

/* CSS стили для карточки */
.card {
    border: 1px solid #cccccc;
    margin: 10px;
    max-width: 1200px;
}

/* Стили для .card-content */
.card-content {
    display: flex;
    align-items: center; /* Выравнивание по вертикали по центру */
}

/* Стили для .text-content */
.text-content {
    flex: 1; /* Занимает всю доступную ширину внутри .card-content */
    padding: 10px;
}

/* Стили для .card-image */
.card-image {
    max-width: 100px; /* Ширина изображения */
    height: auto;
}

/* Стили для изображения в карточке */
.card img {
    max-width: 10%;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Это создаст гибкую сетку с колонками шириной 200px и автоматически адаптирующимися к размеру контейнера */
    gap: 20px; /* Расстояние между элементами сетки */
}

.grid-item {
    text-align: center; /* Выравнивание содержимого по центру */
    border: 1px solid #ccc; /* Границы элементов */
    padding: 10px; /* Отступы вокруг элементов */
    /*background-image: url('/static/images/rocket.jpg');*/
    background: rgba(204, 204, 204, 0.7);;
    background-size: cover; /* Заполнение всей области элемента фоном */
    background-position: center center; /* Центрирование фонового изображения */
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

.grid-item a {
    text-decoration: none;
    color: #333; /* Цвет текста для ссылок */
}

.grid-item p {
    margin: 10px 0; /* Отступы для текста под изображением */
}

/*body {*/
    /*background-image: url('/static/images/rocket.jpg');*/
    /*background-size: cover;*/
    /*filter: blur(5px); !* Коэффициент размытия *!*/
    /*background-position: center center;*/
    /* Дополнительные стили для body, если необходимо */
/*}*/

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Помещаем фоновое изображение под контентом */
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px); /* Установите значение размытия по вашему желанию (5px - это пример) */
}