{# Наследование шаблонов #}
{# Наследование шаблонов позволяет создать основной шаблон, который содержит общие элементы, а частные места будут переопределять наследники. #}
{# Места, которые могут быть переопределены помечаются тегами {% block %} #}
{% load static %}
<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/examp.css' %}">
    </head>
    <body>
        <div class="background-image">
            <img src="{% static 'images/rocket.jpg' %}" alt="Фоновое изображение">
        </div>
        <h1 style="color: #cccccc"> Выберите географические объекты для приземления и расширения станций </h1>
        {# Наследование шаблонизации #}
        {% block content %}{% endblock %}
{#        <form action="sendText" method="post" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            <h1 style="color: #cccccc">Воспользуйтесь поиском</h1>#}
{#            <input name="text" type="text"><br><br>#}
{#            <input type="submit" value="Submit">#}
{#        </form>#}
        <form method="GET" action="{% url 'filter' %}">
            <input type="text" name="filter_keyword" placeholder="Введите">
            <select name="filter_field">
                <option value="feature">Название</option>
                <option value="type">Тип местности</option>
                <option value="size">Площадь</option>
                <option value="named_in_year">Назван в ХХ годах</option>
                <option value="named_for">Назван в кого честь</option>
            </select>
            <button type="submit">Применить фильтр</button>
        </form>
    </body>
</html>

