{% extends 'base.html' %}
{% load static %}

{% block title %}Информация о географического объекта {{ data.GeograficObject.name }}{% endblock %}

{% block content %}
    <div class="grid-item">
        <div class="card">
            <div class="card-content">
                <div class="text-content">
                    <p>Информация о географическом объекте "{{ data.GeograficObject.name }}"</p>
                    <p>Тип местности: {{ data.GeograficObject.type_locality }}</p>
                    <p>Описание: {{ data.GeograficObject.describe }}</p>
                </div>
                <img src="{% static 'images/geograf_object/'|add:data.GeograficObject.name|add:'.jpg' %}" class="card-image" style="width: 40%">
            </div>
        </div>
    </div>
{% endblock %}