{% extends 'base.html' %}
{% load static %}

{% block name %} Географические объекты для приземления и расширения станций {% endblock %}

{% block content %}
    <div class="grid-container">
        {% for GeograficObject in data.GeograficObject %}
            <div class="grid-item">
                <a href="{% url 'geografic_object_url' GeograficObject.id %}">
                    <img src="{% static 'images/geograf_object/'|add:GeograficObject.name|add:'.jpg' %}" style="width: 100%; height: 50%;">
                    <p style="font-size: 20px">{{ GeograficObject.name }}</p>
                </a>
            </div>
        {% empty %}
            <p>Список пуст</p>
        {% endfor %}
    </div>
{% endblock %}