{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
    <link rel="stylesheet" href="{% static 'css/frame.css' %}">
</head>
<body>
<div class="slide">
    <img class="image" src="{% static 'images/main.png' %}" alt="Фоновое изображение Марса">
    <div class="overlap-group">
        <div class="rectangle-3"></div>
        <div class="rectangle-2">
            <a class="text-wrapper" href="{% url 'select_geografic_object' %}">
                 <span>
                    Начать
                </span>
            </a>
        </div>
        <div class="rectangle"></div>
    </div>
</div>
</body>
</html>
