{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
    <link rel="stylesheet" href="{% static 'css/frame.css' %}">
</head>
    <body>
        <div class="slide">
            <img class="image" src="{% static 'images/main.png' %}" alt="Фоновое изображение Марса">
            <div class="overlap-group">
                <div class="rectangle"></div>
                <a href="{% url 'geografic_objects' %}">
                    <div class="rectangle-1-select">
                        <span class="text-wrapper">
                            Посмотреть географические объекты
                        </span>
                    </div>
                </a>
                <a href="{% url 'geografic_objects' %}">
                    <div class="rectangle-2-select">
                        <span class="text-wrapper">
                            Посмотреть транспорты
                        </span>
                    </div>
                </a>
                <a href="{% url 'main' %}">
                    <div class="rectangle-3-select">
                         <span class="text-wrapper">
                            Назад
                        </span>
                    </div>
                </a>
            <div class="rectangle-3"></div>
        </div>
    </body>
</html>
