{% extends 'base.html' %}
{% load static %}

{% block title %}Информация о географического объекта {{ data.name }}{% endblock %}

{% block content %}
    {% for data in database %}
        <div class="grid-item">
            <div class="card">
                <div class="card-content">
                    <div class="text-content">
                    <p>Информация о географическом объекте "{{ data.feature }}"</p>
                    <p>Тип местности: {{ data.type }}</p>
                    <p>Площадь: {{ data.size }}</p>
                    <p>Площадь: {{ data.describe }}</p>
                    </div>
                <img src={{ data.url_photo }} class="card-image" style="width: 40%">
                </div>
            </div>
{#            <form method="GET" action="{% url 'filter' %}">#}
{#                <button type="submit">Удалить объект</button>#}
{#            </form>#}
        </div>
        {% empty %}
            <h3 style="color: #cccccc">Нет доступных услуг.</h3>
    {% endfor %}
{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
