{% extends 'base.html' %}
{% load static %}

{% block title %}Информация о географического объекта {{ data.order.name }}{% endblock %}

{% block content %}
    {% for data in database %}
        <div class="grid-item">
            <div class="card">
                <div class="card-content">
                    <div class="text-content">
                    <p>Информация о географическом объекте "{{ data.name }}"<p>
                    <p>Тип местности: {{ data.type_locality }}</p>
                    <p>Описание: {{ data.describe }}</p>
                    </div>
                <img src="{% static 'images/geograf_object/'|add:data.name|add:'.jpg' %}" class="card-image" style="width: 40%">
                </div>
            </div>
        </div>
        {% empty %}
            <h3 style="color: #cccccc">Нет доступных услуг.</h3>
    {% endfor %}
{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
